<div class="card h-100 box-shadow">
    <mdb-badge class="new" [pill]="true" [danger]=true *ngIf="calculateDate() > 20">NEW</mdb-badge>
    <mdb-badge class="announce" [pill]="true" [danger]=true>SALE</mdb-badge>
    <img routerLink="/shop/{{product.id}}" src="{{product.photo[0].photoUrl1}}" alt="{{ product.name }}" class="img-container"/>
    <div class="card-body d-flex flex-column">
        <a class="item-title" routerLink="/shop/{{product.id}}">
            <h3 class="text-uppercase">{{ product.name }}</h3>
        </a>
        <span class="mb-2"><strong>{{product.price | currency}}</strong></span>

        <div class="btn-group mt-auto">
            <button (click)="addItemToCart()" type="button" class="btn btn-sm btn-outline-secondary mr-2">
                <fa-icon [icon]="faShopingCart"></fa-icon>
            </button>
            <button type="button" routerLink="/shop/{{product.id}}" class="btn btn-sm btn-outline-secondary">
                View
            </button>
        </div>
    </div>
</div>