.btn-group {
    width: 100%}

.btn {
    width: 50%;}

.item-title{
    text-decoration: none;
    color: black;
    :hover {
      color: #f79548;}
}

.new {
    position: absolute;
    left: 10px;
    top: 10px;}

.announce {
    position: absolute;
    left: 10px;
    top: 30px;
    background-color: #f79548 !important;}

.card:hover{
    transform: scale(1.05);
    transition: opacity .9s,transform .25s .03s;
    opacity: 1;
}

img:hover{
    cursor: pointer;
}

img:focus{
    outline: none;
}