button.nav-pills, button.nav{
    background-color: black !important;
}

button.nav-link{
    background-color: black;
    background: #e9ecef;
    border-radius: 0%;
    border: none;
    &:focus{
        outline: none;
    }
    &:active:hover{
        color: white;
    }
    &:active{
        background-color: black;
        outline: none;  
    }
    &.active:focus{
        background-color: black;
        outline: none;
    }
}