.checkout-bar {
    margin-top: 80px;
    border-bottom: 2px solid black;
    padding: 10px 20px;
}

.step {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.step-text {
    margin-left: 10px;
    margin-right: 40px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border: 1px solid black;
    width: fit-content;
}

.shipping-address-text{
    font-size: 2.5rem;
    margin-top: 30px;
    font-weight: 500;
}

.shipping-address-box {
    border: 1px solid black;
    width: 100%;
    padding: 30px 10px;
}

.timer-box {
    padding: 10px 20px;
}

.timer {
    font-weight: 600;
    font-size: 3.5rem;
}

.btn-login {
    background-color: black;
    color: white;
    outline: 0;
    border: none;
    padding: 3px 10px;
    width: 50%;
    height: 50px;
    font-weight: bold;
    &:hover{
        color:rgb(138, 137, 137)
    }
}

p.terms {
    text-decoration: underline;
    width: fit-content;
    &:hover{
        color: white;
        background-color: black;
    }
}

p a.terms {
    text-decoration: underline;
    &:hover{
        color: white;
        background-color: black;
    }
}

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #ccc;
    &:focus {
        outline: none;
    }
  }
  
  .check-container:hover input ~ .checkmark {
    background-color: transparent;
    outline: 1px solid black;
  }
  
  .check-container input:checked ~ .checkmark {
    background-color: black;
    outline: none;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .checkdot {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
  
  .check-container:hover input ~ .checkdot {
    border: 1px solid black;
  }
  
  .check-container input:checked ~ .checkdot {
    background-color: black;
  }
  
  .checkdot:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .check-container input:checked ~ .checkdot:after {
    display: block;
  }
  
  .check-container .checkdot:after {
    top: 7.9px;
    left: 7.9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }