.checkout-bar {
    margin-top: 80px;
    border-bottom: 2px solid black;
    padding: 10px 20px;
}

.step {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.step-text {
    margin-left: 10px;
    margin-right: 40px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border: 1px solid black;
    width: fit-content;
}

.shipping-address-text{
    font-size: 2.5rem;
    margin-top: 30px;
    font-weight: 500;
}

.shipping-address-box {
    border: 1px solid black;
    width: 100%;
    padding: 30px 10px;
}

.timer-box {
    padding: 10px 20px;
}

.timer {
    font-weight: 600;
    font-size: 3.5rem;
}

.btn-login {
    background-color: black;
    color: white;
    outline: 0;
    border: none;
    padding: 3px 10px;
    width: 50%;
    height: 50px;
    font-weight: bold;
    &:hover{
        color:rgb(138, 137, 137)
    }
}

p.terms {
    text-decoration: underline;
    width: fit-content;
    &:hover{
        color: white;
        background-color: black;
    }
}

p a.terms {
    text-decoration: underline;
    &:hover{
        color: white;
        background-color: black;
    }
}