<h1 class="shipping-address-text mt-4">SHIPPING ADDRESS</h1>
<div class="shipping-address-box">
    <form [formGroup]="checkoutForm">
        <div class="row" formGroupName="shippingAddressForm">
            <div class="col-md-6">
                <app-text-input formControlName="firstName" [label]="'First Name'"></app-text-input>
            </div>
            <div class="col-md-6">
                <app-text-input formControlName="lastName" [label]="'Last Name'"></app-text-input>
            </div>
            <div class="col-md-12">
                <app-text-input formControlName="address" [label]="'Address'"></app-text-input>
                <span class="text-muted ml-4" style="font-size: 14px;"
                    *ngIf="!checkoutForm.get('shippingAddressForm.address').touched">Ex. Stefan Cel Mare
                    22/1</span>
            </div>
            <div class="col-md-6 mt-4">
                <app-text-input formControlName="city" [label]="'City/Town'"></app-text-input>
            </div>
            <div class="col-md-6 mt-4">
                <app-text-input formControlName="state" [label]="'State'"></app-text-input>
            </div>
            <div class="col-md-12">
                <app-text-input formControlName="zipCode" [label]="'Zip Code'"></app-text-input>
            </div>
            <div class="col-md-12 mt-2">
                <button class="btn-default">SAVE AS DEFAULT</button>
                <button class="btn-default ml-4">GO TO DELIVERY</button>
            </div>
        </div>
    </form>
</div>