<div class="container-new">
    <h1 class="text-title">SHOPPING CART</h1>
    <div class="row">
        <div class="col-md-7" *ngIf="(cart$ | async) === null">
            <p class="text-description">There are no item in your cart!</p>
        </div>
        <div class="col-md-7" *ngIf="(cart$ | async)">
            <a class="text-description"> 
                Have an Krooter account? Sign in and save time. <button class="button-default">SIGN IN</button>
            </a>
            <div style="font-size: 1.3rem; font-weight: 500; font-family: 'roboto'; margin-top: 40px; line-height: 0px;">{{(cart$ | async).items.length}} ITEMS
                <br />
                <hr class="line">
            </div>
            <div class="shopping-cart-card" *ngFor="let item of (cart$ | async).items">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-thumbnail" src="{{item.pictureUrl}}">
                    </div>
                    <div class="col-md-6 d-flex mt-2 mb-2" style="flex-direction: column; justify-content: space-between;">
                        <a style="font-size: 1.1rem; font-weight: 500; color: black;" href="shop/{{item.id}}">{{item.productName}}</a>
                        <p style="color: red; font-weight: 300;">{{item.price * item.quantity| currency}}</p>
                        <p style="font-weight: 300;">BRAND: {{item.brand}}</p>
                        <p style="font-weight: 300;">TYPE: {{item.type}}</p>
                        <p style="font-weight: 300;">SIZE: 43</p>
                        <p style="font-weight: 300;">AMOUNT: 
                            <button class="mr-1 btn-incr-decr" (click)="decrement(item)"><i class="fa fa-minus-circle"></i></button>
                                {{item.quantity}}
                            <button class="mr-1 btn-incr-decr" (click)="increment(item)"><i class="fa fa-plus-circle"></i></button>
                        </p>
                        <a style="font-weight: 300;">
                            <span style="text-decoration: underline; margin-right: 10px;" (click)="removeCartItem(item)">Remove</span> | 
                            <span style="text-decoration: underline; margin-left: 10px;">Edit</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5" style="margin-bottom: 20px;">
            <app-order-totals></app-order-totals>
        </div>
    </div>
    
</div>
