.btn-login {
    background-color: black;
    color: white;
    outline: 0;
    border: none;
    padding: 3px 10px;
    width: 50%;
    height: 50px;
    font-weight: bold;
    &:hover{
        color:rgb(138, 137, 137)
    }
}

.box form div {
    position: relative;
}

.box div input:focus{
    outline: none;
}

p.title {
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 0.9;
}

p.terms {
    text-decoration: underline;
    width: fit-content;
    &:hover{
        color: white;
        background-color: black;
    }
}

p a.terms {
    text-decoration: underline;
    &:hover{
        color: white;
        background-color: black;
    }
}