<body>
    <div class="container" style="margin-top: 110px;">
        <div class="row">
            <div class="col-md-6">
                <p class="mt-2 mb-4 title">LOG IN</p>
                <p class="mt-2 mb-2 terms">Forgot Your Password?</p>
                <div class="box">
                    <form>
                        <div>
                            <input type="text" name="email" required>
                            <label>Email</label>
                        </div>
                        <div>
                            <input type="password" name="password" required>
                            <label>Password</label>
                        </div>
                        <button class="btn-login mt-4" type="submit">GET UNLOCKED <i class="fa fa-long-arrow-alt-right ml-2"></i></button>
                    </form>
                </div>
                <p class="mt-4">By clicking 'Get Unlocked' you agree to our website <a class="terms">Terms & Conditions</a>, <a class="terms">Krooter Privacy Notice</a> 
                    and <a class="terms">Krooter UNLOCKED Terms</a> & <a class="terms">Conditions</a>.</p>
            </div>
            <div class="col-md-6">
                <p class="title mt-2">JOIN THE CLUB. GET REWARDED.</p>
                <p class="mt-4">Join the Krooter Creators Club membership program:</p>
                <p class="ml-2"><i class="fa fa-check"></i> Get immediate access to all Challenger level rewards.</p>
                <p class="ml-2"><i class="fa fa-check"></i> Earn access to shop limited edition products.</p>
                <p class="ml-2"><i class="fa fa-check"></i> Level up for exclusive access to sport, yoga and music events.</p>
                <p class="ml-2"><i class="fa fa-check"></i> Receive our best special offers and promotions.</p>
                <p class="ml-2"><i class="fa fa-check"></i> Free shipping for Creators Club Members.</p>
                <p class="">Join now and start earning points to access new levels and rewards. It's time to unlock the best of adidas.</p>
                <button routerLink="/account/register" class="btn-login mt-4">JOIN THE CLUB <i class="fa fa-long-arrow-alt-right ml-2"></i></button>
            </div>
        </div>
    </div>
</body>
