<div class="fixed-top box-shadow border-bottom">
    <div class="pre-nav">
        <mdb-carousel class="carousel slide carousel-fade" [isControls]="false" [animation]="'fade'">
            <mdb-carousel-item>
                <a>
                    <fa-icon [icon]="faTruck"></fa-icon> {{stringArray[0]}}
                </a>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <a>
                    <fa-icon [icon]="faTruck"></fa-icon> {{stringArray[1]}}
                </a>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <a>{{stringArray[2]}}</a>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
    <div>
        <div *ngIf="isOpened" class="hamburger-menu">
            <span class="hamburger toggle-button" (click)="isOpen()" style="z-index: 1;">
                <fa-icon [icon]="faTimes"></fa-icon>
            </span>
            <a class="navbar-brand nav-dark logo" href="#" style="padding-left: 40%;">Krooter</a>
            <ul>
                <li>
                    <a href="#">MAN</a>
                </li>
                <li>
                    <a href="#">WOMAN</a>
                </li>
                <li>
                    <a href="#">KIDS</a>
                </li>
                <li>
                    <a href="#">SALES</a>
                </li>
                <li>
                    <a href="#">SEARCH</a>
                </li>
                <li>
                    <a href="#">SHOPPING CART</a>
                </li>
                <li>
                    <a href="#">USER PROFILE</a>
                </li>
                <li>
                    <a (click)="isOpen()" href="#">CLOSE</a>
                </li>
            </ul>
        </div>
        <div class="nav-container">
            <div *ngIf="!isOpened" class="row">
                <div class="col-1">
                    <a href="#" class="toggle-button hamburger" (click)="isOpen()">
                        <span>
                            <fa-icon [icon]="faBars"></fa-icon>
                        </span>
                    </a>
                </div>
                <div class="col-1.5">
                    <div class="d-inline-flex">
                        <div>
                            <a class="navbar-brand nav-dark logo" href="#">Krooter <img class="logo-wrapper"
                                    src="../../assets/image/logo.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-1 navbar-links navbar" style="padding-top: 0.3%; padding-right: 9%;">
                    <a class="navbar-brand nav-dark" style="font-weight: bold;" href="#">WOMAN</a>
                </div>
                <div class="col-1 navbar-links navbar navbar-brand nav-dark" style="padding-top: 0.3%;">
                    <a class="navbar-brand nav-dark" style="font-weight: bold;" href="#">MAN</a>
                </div>
                <div class="col-1 navbar-links navbar" style="padding-top: 0.3%;">
                    <a class="navbar-brand nav-dark" style="font-weight: bold;" href="#">KIDS</a>
                </div>
                <div class="col-1 navbar-links navbar" style="padding-top: 0.3%;">
                    <a class="navbar-brand nav-dark" href="#">SALES</a>
                </div>
                <div class="col position-relative responsive" style="justify-content: flex-end;">
                    <div class="navbar-brand nav-dark d-inline-flex position-relative">
                        <div class="form-outline search-link" style="padding-top: 2%;">
                            <input #search id="search-input" type="search" id="form1" class="form-control shadow-none"
                                placeholder="Search" style="width: 150px; height: 30px; z-index: 1;" />
                        </div>
                        <button class='btn'>
                            <fa-icon class="search-link2" [icon]="faSearch"
                                style="padding-right: 15%; padding-left: 5%; padding-top: 3%;" href="#"></fa-icon>
                        </button>
                        <button class='btn'>
                            <fa-icon href="#" class="user-link" [icon]="faUser"></fa-icon>
                        </button>
                        <button class='btn'>
                            <fa-icon class="cart-link" [icon]="faShoppingCart" style="padding-right: 15%;"></fa-icon>
                        </button>
                        <div class="cart-no" *ngIf="cartItems != 0">{{cartItems}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>