/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

$theme-colors: (
  "primary": black,
  "danger": #ff4136
);

@import '~bootstrap/scss/bootstrap';
@import "../node_modules/bootswatch/dist/cosmo/bootstrap.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";

@font-face {
    font-family: mottek;
    src: url(assets/font/Mottek.ttf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toast-top-center {
    margin-top: 90px !important;
}

.btn-default {
  background-color: black;
  color: white;
  outline: 0;
  border: none;
  padding: 3px 10px;
  width: fit-content;
  height: 50px;
  font-weight: bold;
  &:hover{
      color:rgb(138, 137, 137)
  }
}

.StripeElement {
  height: 3.125em;
  border-radius: 0;
  border: 1px solid black;
  justify-content: center;
}