<div class="video-view">
  <video class="video" autoplay loop>
    <source
      src="https://brand.assets.reebok.com/video/upload/q_auto,vc_auto/video/upload/681960_C22773_SS21_Classic_Leather_Legacy_Homepage_Masthead_LP_2880x1280px_Moving__kihb2m.mp4"
      type="video/mp4"
    />
  </video>
  <div class="video-content">
    <p class="primary-font" style="padding-bottom: 10px">WRITE YOUR</p>
    <P class="primary-font">LEGACY</P>
    <p class="secondary-font">A refreshed icon for collective creativity.</p>
    <button class="btn-default">
      <a>Shop Now</a>
      <fa-icon [icon]="faLongArrowAltRight" style="font-size: 1.2rem"></fa-icon>
    </button>
  </div>
</div>
