<div class="video-view">
  <video class="video" autoplay loop>
    <source
      src="https://brand.assets.reebok.com/video/upload/q_auto,vc_auto/video/upload/681960_C22773_SS21_Classic_Leather_Legacy_Homepage_Masthead_LP_2880x1280px_Moving__kihb2m.mp4"
      type="video/mp4"
    />
    <!-- <source
    src="https://brand.assets.reebok.com/video/upload/q_auto,vc_auto/video/upload/CXXXXX_20FW_Apparel_FP_AF-LeadVideo_FD_OS_CLP_Masthead-Large_DT_ktxofr.mp4"
    type="video/mp4"
    /> -->
  </video>
  <div class="video-content">
    <p class="primary-font">WRITE YOUR</p>
    <P class="primary-font2">LEGACY</P>
    <p class="secondary-font">A refreshed icon for collective creativity.</p>
    <button [routerLink]="['/shop']" class="btn-default">
      <a>Shop Now</a>
      <fa-icon [icon]="faLongArrowAltRight" style="font-size: 1.2rem"></fa-icon>
    </button>
  </div>
</div>

<!--Section: Products v.3-->

<!-- <section class="text-center pb-3 my-5">
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-3">
      <mdb-card [cascade]="true" [narrower]="true" class="card-ecommerce">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/1.jpg" alt="sample photo"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </mdb-card>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
      <mdb-card [cascade]="true" [narrower]="true" class="card-ecommerce">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/2.jpg" alt="sample photo"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </mdb-card>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
      <mdb-card [cascade]="true" [narrower]="true" class="card-ecommerce" >
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/4.jpg" alt="sample photo"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </mdb-card>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
      <mdb-card [cascade]="true" [narrower]="true" class="card-ecommerce">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/3.jpg" alt="sample photo"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </mdb-card>
    </div>
  </div>
</section> -->